@charset "UTF-8";
.bg_box{background: url(../img/goods/topimg.jpg); height: 260px; text-align: center;}
.bg_box h2{ color: #fff; font-size: 32px; font-weight: 600; padding-top: 145px; letter-spacing: -2px;}